[Desktop Entry]
Name=Duolingo
Exec=/opt/duolingo/duolingo
Icon=duolingo
Terminal=false
Type=Application
Categories=Game;Education;Languages;
StartupNotify=true
